.meal_items{
    margin: 1rem;
   border-bottom: 0.5px solid gray;   
}

.meal_items h3{
    margin: 0px;
}

.meal_items p{
    margin: 0px;
   font-style: italic;
}

.meal_items h2{
    margin: 0px;
    color: red;
}